.progressBar {
  height: 6px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, var(--sunrise), var(--red));
  transition: width 1s ease-in, opacity 400ms ease;
  transition-delay: 0s, 3s;
}

.finished {
  width: 100%;
}
